/*The color palette: 100007, 200116, 2D0605 4C0827 */


/*The heading one*/
h1{
    padding: 100px;
    /* color*/
    color: #200116;
    text-align: center;
    background-color: #D481AC;
}
/*Heading 2*/
h2{
    padding: 0px;
    text-align: center;
    color: #2D0605;
}
/*All Paragraphs*/
p{
    padding: 50px;
    text-align: center;
    /*  color*/
    color: #2D0605;
}

/*All the heading 3's*/
h3{
    padding: 10px;
    text-align: center;
    color: #4C0827;
}
