/*The color palette: 100007, 200116, 2D0605 4C0827 */


/*The heading one*/
h1{
    padding: 100px;
    margin: 0;
    /* color*/
    color: #200116;
    text-align: center;
    background-color: #D481AC;
}
body{
    display: flex;
    padding: 30px;
    background-color: #F8EAF1;
}

/*Navigation*/
nav{
    width: 200px;
    padding: 20px;
    background-color: #200116;
    min-height: 500px;
}

/* Navigation heading 2 */
nav h2 {
    color: white;
    text-align: center;
}

/*The nav links */
nav a {
    display: block;
    padding: 15px;
    margin: 10px 0;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #4C0827;
}

/*Changes the color when the mouse hovers over the content */
nav a:hover {
    background-color: #D481AC;
    color: #200116;
}


/*Heading 2*/
h2{
    padding: 0px;
    text-align: center;
    color: #2D0605;
}
/*All Paragraphs*/
p{
    padding: 50px;
    text-align: center;
    /*  color*/
    color: #2D0605;
}

/*All the heading 3's*/
h3{
    padding: 10px;
    text-align: center;
    color: #4C0827;
}
